/* raleway-regular - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/raleway-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/raleway-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-900 - latin */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	src: local(''),
		 url('../fonts/raleway-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html{
	box-sizing: border-box;
	height: 100%;
}

*,*::before,*::after{
	box-sizing: inherit;
}


.wrapper{
	width: 1170px;
	margin: 0 auto;
}

/* header and intro start */

.header_and_intro{
	background-image: url(../img/img.svg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 747px;
	position: relative;
}


.header-content{
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #babbc5;
}

.logo{
	display: flex;
	align-items: center;
	justify-content: left;
	width: 270px;
	height: 100.95px;
}

.flex-container{
	display: flex;
	align-self: flex-end;
	width: 670px;
	height: 63px;
}
.nav-container{
	width: 134px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.h6-style-intro{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	color: #FFFFFF;
	text-transform: uppercase;
}


.h1-style-intro{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 75px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.intro{
	position: absolute;
	height: 395px;
	width: 1170px;
	top: 230px;
	left: 170px;
}

.intro-container{
	display: flex; 
	height: 395px; 
	flex-direction: column; 
	flex-wrap: nowrap; 
	align-content: flex-start; 
	align-items: center;
}

.flex-elem1{
	width: 1170px; 
	height: 150px;
	text-align: center;
}

.flex-elem2{
	width: 1170px; 
	height: 56px; 
	margin: 31px 0px 0px 0px; 
	text-align: center;
}



.p-style-intro{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}

.button-style-intro{
	height: 80px; 
	align-self: center; 
	margin: 80px 0px 0px 0px;
	background: #FF4343; 
	border: none;
	width: 369px;
	
}

.text-button-style{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFFFFF;
}
a{
	text-decoration: none;
}

.on-button:hover{
	background: #E71414;
}

.activ-button:active{
	background: #FF4343;
	box-shadow: 4px 4px 30px #FF4343;
}


/* header and intro end */


/* second section start */

.second-section{
	position: relative;
	height: 950px;
	background: #E5E5E5;
}

.second-section-container{
	position: absolute;
	top: 116px;
	bottom: 116px;
}

.second-section-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1170px;
	justify-content: space-between;
}
.second-section-elem{
	position: relative;
	line-height: 305px;
	width: 370px;
	height: 305px;

}

.modifier-second{
	margin-top:89px;
}

.p-style-second{
	text-align: center;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #2D3033;
}

.h5-style-second{
	text-align: center;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #6C7279;
	margin-bottom: 10px;
}

.imgPositionSecond{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.h5SecondPosition{
position: absolute;
top: 220px;
}

.pSecondPosition{
	width: 370px;
position: absolute;
top:129px;
text-align: center;
}


/* second section end */