
/* cardo-italic - latin */
@font-face {
	font-family: 'Cardo';
	font-style: italic;
	font-weight: 400;
	src: local(''),
		 url('../fonts/cardo-v19-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/cardo-v19-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* raleway-regular - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/raleway-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/raleway-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-900 - latin */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	src: local(''),
		 url('../fonts/raleway-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html{
	box-sizing: border-box;
	height: 100%;
}

*,*::before,*::after{
	box-sizing: inherit;
}


.wrapper{
	width: 1170px;
	margin: 0 auto;
}

/* header and intro start */

.header_and_intro{
	background-image: url(../img/back2.png);
	background-repeat: no-repeat;
	background-size:cover;
	height: 747px;
	position: relative;
}


.header-content{
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #babbc5;
}

.logo{
	display: flex;
	align-items: center;
	justify-content: left;
	width: 270px;
	height: 100.95px;
}

.flex-container{
	display: flex;
	align-self: flex-end;
	width: 670px;
	height: 63px;
}
.nav-container{
	width: 134px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.h6-style-intro{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	color: #FFFFFF;
	text-transform: uppercase;
}


.h1-style-intro{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 75px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.intro{
	position: absolute;
	height: 395px;
	width: 1170px;
	top: 230px;
	left: 170px;
}

.intro-container{
	display: flex; 
	height: 395px; 
	flex-direction: column; 
	flex-wrap: nowrap; 
	align-content: flex-start; 
	align-items: center;
}

.flex-elem1{
	width: 1170px; 
	height: 150px;
	text-align: center;
}

.flex-elem2{
	width: 1170px; 
	height: 56px; 
	margin: 31px 0px 0px 0px; 
	text-align: center;
}



.p-style-intro{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}

.button-style-intro{
	height: 80px; 
	align-self: center; 
	margin: 80px 0px 0px 0px;
	background: #FF4343; 
	border: none;
	width: 369px;
	
}

.text-button-style{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFFFFF;
}
a{
	text-decoration: none;
}

.on-button:hover{
	background: #E71414;
}

.activ-button:active{
	background: #FF4343;
	box-shadow: 4px 4px 30px #FF4343;
}


/* header and intro end */


/* second section start */

.second-section{
	position: relative;
	height: 950px;
	background: #E5E5E5;
}

.second-section-container{
	position: absolute;
	top: 116px;
	bottom: 116px;
}

.second-section-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1170px;
	justify-content: space-between;
}
.second-section-elem{
	position: relative;
	line-height: 305px;
	width: 370px;
	height: 305px;

}

.modifier-second{
	margin-top:89px;
}

.p-style-second{
	text-align: center;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #2D3033;
}

.h5-style-second{
	text-align: center;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #6C7279;
	margin-bottom: 10px;
}

.imgPositionSecond{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.h5SecondPosition{
position: absolute;
top: 220px;
}

.pSecondPosition{
	width: 370px;
	position: absolute;
	top:129px;
	text-align: center;
}


/* second section end */


/* third section start */

.thirdSectionFlex{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 114px;
}



.div3{
	width: 378px;
	height: 340px;
	position: relative;
}

.div3 img{
	width: 100%;
	height: 100%;
}

.hover{
	text-align: center;
}

.div3 .hover{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15% 3%;
	box-sizing: border-box;
}

.name{
font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
margin: 70px 0 30px 0;
text-transform: uppercase;
}

.user{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

.div3:hover .hover{
	display: block;
	background: rgba(255, 67, 67, 0.8);
}

.div3:active .hover{
	background: rgba(185, 12, 12, 0.8);
}

/* third section end */

/* fourth section start */
.person-info__container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 114px;
	}

.person{
	width: 270px;
	height: 619px;
}

.image-fourth{
	margin-bottom: 30px;
}

.h3-style-fourth{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #2D3033;
	margin-bottom: 5px;
}
.position-fourth{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color:  #FF4343;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.person-info{
	width: 270px;
	height: 168px;
	margin-bottom: 38px;
}

.p-fourth-style{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color:#6C7279;
}

.site-ico{
	display: flex;
	flex-wrap: wrap;
	width: 127px;
	justify-content: space-between;
}

/* fourth section end */

/* fifth section start */

.full-block{
	width: 100%;
	height: 490px;
	display: flex;
	flex-wrap: wrap;
	background-color:#5C3249;
	margin-bottom: 31px;
}





.flex-fifth{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 470px;
	height: 258px;
	
}

.h2-style__fifth{
	font-family: 'Cardo';
	font-style: italic;
	font-weight: 400;
	font-size: 36px;
	line-height: 49px;
	color: white;
	text-transform: capitalize;
	width: 470px;
	height: 230px;

}



.h6-style-fifth{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	color: white;
}

.position-fifth{
	width: 471px;
	height: 230px;
	padding-top: 116px;
}

.dots-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 170px;
	height: 14px;
	margin: 0 auto;
	margin-bottom: 114px;
}

.h3-style-fifth{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;
	color: black;
	margin-bottom: 5px;
}

.h5-style-fifth{
	height: 21px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: black;
	text-transform: uppercase;
	margin-bottom: 48px;
}
.button{
	text-align: center;
	margin-bottom: 114px;
}

.button-fifth{
	width: 370px;
	height: 80px;
	border: none;
	background-color: #FF4343;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}



/* fifth section end */


/* footer section start */


.footer{
	height: 340px;
	background-color: #353C65;
	display: flex;
	flex-direction: column;
	
}

.social-info{
	padding-top: 71px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.location, .social, .about{
	width: 370px;
	text-align: center;
}

.title-info{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: white;
}

.sub-title__info{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: white;
	text-transform: capitalize;
	
}

.modif-location{
	margin-bottom: 29px;	
}

.social-ico{
	display: flex;
	flex-wrap: wrap;
	width: 171px;
	justify-content: space-between;
	align-self: center;
}

.social-ico{
	margin:0 auto;
}

.modif-social{
	margin-bottom: 49px;
}

.modif-about{
margin-bottom: 29px;
}

.copyring-info{
	height: 90px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #2C3154;
}
.info{
	height: 250px;
}

.footer-h5-style{
	text-align: center;
	width: 370px;
	height: 42px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-transform: capitalize;
	color: #808080;

}

.color-by{
	color: white;
}
/* footer section end */