/* raleway-regular - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/raleway-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/raleway-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-900 - latin */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	src: local(''),
		 url('../fonts/raleway-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



body{
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
}

/* .logo{
width: 270px;
height: 100.95px;
} */

.flex-container{
	display: flex;
	border:1px solid blue;
	width: 670px;
	height: 63px;
}
.divik{
width: 134px;
height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;;
}

.h6-style{
	font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 15px;
}